<h2>Select New Shipping Address:</h2>

<%= form_for [@user, @order], :url => "/user/orders/#{@order.id}", :method => :patch do |f| %>
  <% current_user.addresses.each do |address| %>
    <p><%= f.radio_button :address_id, address.id  %>
    <%= f.label :address_nickname, address.address_nickname  %></p>
    <p><%= f.label :address, address.address %></p>
    <p><%= f.label :city, address.city %>
    <%= f.label :state, address.state %>
    <%= f.label :zip, address.zip %></p>
  <% end %>
  <%= f.submit %>
<% end %>
