<h1 align = "center">Order</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Sold By</th>
    <th>Inventory</th>
  </tr>
  <% cart.items.each do |item, quantity| %>
    <tr id='order-item-<%= item.id%>'>
      <td><h2><%= link_to item.name, "/items/#{item.id}" %></h2></td>
      <td><p><%= number_to_currency(item.price) %></p></td>
      <td><p><%= quantity %></p></td>
      <td><p><%= number_to_currency(cart.subtotal(item)) %></p><td>
      <td><p><%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %></p></td>
      <td><p><%= item.inventory %> in stock</p></td>
    </tr>
  <% end %>
</table>
<h3 align = "right">Total: <%= number_to_currency(cart.total)%></h3>
<center>
  <h2>Shipping Info:</h2>
  <%= form_for current_user.orders.new, :url => user_orders_path(current_user.orders.new), :method => :post do |f| %>
    <% current_user.addresses.each do |address| %>
      <p><%= f.radio_button :address_id, address.id  %>
      <p><%= f.label :address_id %>
      <%= f.label :address_nickname, address.address_nickname  %></p>
      <p><%= f.label :address, address.address %></p>
      <p><%= f.label :city, address.city %>
      <%= f.label :state, address.state %>
      <%= f.label :zip, address.zip %></p>
    <% end %>
    <%= f.submit %>
  <% end %>
</center>
