<section class="header">
  <h2><%= @user.name %></h2>
  <h4><%= @user.email %></h4>
</section>

<section class="text">
  <% if !current_admin? %>
    <p></p><%= link_to 'Edit Profile', "/users/#{@user.id}/edit" %></p>
    <p><%= link_to 'Edit Password', "/users/#{@user.id}/password_edit" %></p>
  <% end %>
  <section class="my-orders-link">
    <% unless @user.no_orders? %>
      <%= link_to 'My Orders', "/users/#{@user.id}/orders" %>
    <% end %>
  </section>
</section>

<section class='addresses'>
  <h3><%= 'Saved Addresses:' %></h3>
  <% @user.addresses.each do |a| %>
    <section id= 'address-<%=a.id%>'>
    <h3><%= a.address_nickname %></h3>
    <%= a.address %>
    <br><%= a.city %>
    <br><%= a.state %>
    <br><%= a.zip %>
    <br>
    <br> <%=link_to 'Edit Address', "/user/addresses/#{a.id}/edit"%>
    <br> <%=link_to 'Delete Address', "/user/addresses/#{a.id}", method: :delete %>
    </section>
  <br><% end %>
  <br> <%=link_to 'Add New Address', "/user/addresses/new" %> </br>
</section>
